<div id="menuBar">
    <a href="index.html">Home</a>
    <div class="dropdown">
        <button class="dropBtn" onclick="dropMenu()">Projects</button>
        <div id="projList" class="dropdown-content">
            <a href="interactiveMenuBar.html">Menu Bar</a>
            <a href="3dPrinting.html">3D Printing</a>
            <a href="projects.html">Projects</a>
        </div>
    </div>
    <a href="contact.html">Contact</a>
    <a href="loginPage.html">Admin</a>
    <a href="InfoDump.html">Info Dump</a>
</div>